@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #ccc;
  --background-color: #232333;
}

* {
  font-family: 'Outfit', sans-serif;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

html,
body,
main {
  height: 100%;
}
